<header class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <nav class="js-mega-menu navbar-nav-wrap">
            <!-- Default Logo -->
            <a class="navbar-brand mr-50" href="index.html" aria-label="Gen">
                <img class="navbar-brand-logo" src="../../assets/img/icons/len-logo-big.svg" alt="Len logo">
            </a>
            <!-- End Default Logo -->

            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-default">
                <i class="bi-list"></i>
                </span>
                <span class="navbar-toggler-toggled">
                <i class="bi-x"></i>
                </span>
            </button>
            <!-- End Toggler -->

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <div class="ml-auto d-block">
                <ul class="navbar-nav ">
                <!-- Landings -->
                <li class=" nav-item">
                    <a class="hs-mega-menu-invoker nav-link " href="#para-voce" >Quero desconto</a>
                </li>
                <!-- End Landings -->

                <!-- Pages -->
                <li class=" nav-item">
                    <a class="hs-mega-menu-invoker nav-link " href="#para-seu-negocio" >Tenho meu negócio</a>
                </li>

                <!-- Pages -->
                <li class=" nav-item">
                    <a class="hs-mega-menu-invoker nav-link " href="#quem-somos" >Quem somos</a>
                </li>
                <!-- End Pages -->

                <!-- Pages -->
                <li class=" nav-item">
                    <a class="hs-mega-menu-invoker nav-link " href="https://apply.workable.com/sejagen/#jobs" target="_blank" >Carreiras</a>
                </li>
                <!-- End Pages -->

                <!-- Pages -->
                <li class=" nav-item">
                    <a class="hs-mega-menu-invoker nav-link " href="#fale-com-a-gente" >Fale com a gente</a>
                </li>
                <!-- End Pages -->

                <!-- Blog -->
                <li class="hs-has-sub-menu nav-item">
                </li>
                <!-- End Blog -->
                </ul>
            </div>

                <ul class="navbar-nav ms-auto">
                    <li class="nav-divider"></li>
                    <!-- Log in -->
                    <li class="nav-item">
                    <a class="btn btn-ghost-gen btn-no-focus me-2 me-lg-0" href="https://business.gen.com.br/">Entrar</a>
                    </li>
                    <!-- End Log in -->

                    <!-- Sign up -->
                    <li class="nav-item">
                    <a class="d-lg-inline-block btn btn-gen" href="https://business.gen.com.br/external/sign-up/personal-data">
                        Cadastre-se
                    </a>
                    </li>
                    <!-- End Sign up -->
                </ul>

            </div>



            <!-- End Collapse -->
        </nav>
    </div>
</header>
