<div class="container">
    <img src="../../assets/img/bg_auth_carousel_2.png" alt="image">
    <div class="right">
        <h1>Bem-vindo à Len Business!</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem, consectetur!</p>
        <form action="POST" action="">
            <div class="field">
                <label class="email">E-mail*</label>
                <input class="email" id="email" type="email">
            </div>
            <div class="field">
                <label class="password">Senha*</label>
                <input class="password" id="password" type="password">
            </div>
            <input class="btn-gen" id="submit" type="submit" value="Enviar">
            <span>
                <p class="criar-conta">Ainda não tem uma conta? <a routerLink="../sign-up">Clique aqui</a></p>
            </span>
        </form>
    </div>
</div>
