<div>
  <header>
    <app-header></app-header>
  </header>
  <div>
    <div class="cards">
      <app-card [card]="card1"></app-card>
      <app-card [card]="card2"></app-card>
      <app-card [card]="card3"></app-card>
      <app-card [card]="card4"></app-card>
    </div>
    <div class="middle-cards">
      <div class="ofertas-vantagens">
        <h1>Lorem ipsum dolor sit.</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus aliquid perferendis, quae voluptatibus impedit.</p>
      </div>
      <div class="ofertas-vantagens">
        <h1>Lorem, ipsum.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, hic!</p>
      </div>
    </div>
    <div class="stores">
      <p class="nosso">Nosso universo de descontos te espera:</p>
      <h3 class="app-len">App Len</h3>
      <div class="stores-link">
        <a href="https://apps.apple.com/br/app/gen-promo%C3%A7%C3%B5es-e-descontos/id6443802221">
          <img class="store-img" src="../assets/img/apple_store_gen.png" target="_blank" alt="Apple Store">
        </a>
        <a href="https://play.google.com/store/apps/details?id=br.com.gen">
          <img class="store-img" src="../assets/img/play_store_gen.png" target="_blank" alt="Google Store">
        </a>
      </div>
    </div>
    <div class="icon-cards">
      <app-icon-cards [iconCards]="iconCards1"></app-icon-cards>
      <app-icon-cards [iconCards]="iconCards2"></app-icon-cards>
      <app-icon-cards [iconCards]="iconCards3"></app-icon-cards>
      <app-icon-cards [iconCards]="iconCards4"></app-icon-cards>
    </div>
    <div class="stores">
      <p class="nosso">Nossas soluções para o seu negócio:</p>
      <h3 class="app-len">App Len Business</h3>
      <div class="stores-link">
        <a href="https://apps.apple.com/br/app/len-promo%C3%A7%C3%B5es-e-descontos/id6443802221">
          <img class="store-img" src="../assets/img/apple_store_gen.png" alt="Apple Store">
        </a>
        <a href="https://play.google.com/store/apps/details?id=br.com.len">
          <img class="store-img" src="../assets/img/play_store_gen.png" alt="Google Store">
        </a>
      </div>
    </div>
    <div class="account">
      <div>
        <a class="btn btn-outline-gen" href="https://app.lenpag.com.br/auth">Já tenho uma conta</a>
      </div>
      <div>
        <a class="btn btn-gen" href="https://app.lenpag.com.br/auth/create-account">Criar conta gratuita</a>
      </div>
      <h5>
        <a href="#fale-com-a-gente" target="_blank">Falar com um de nossos especialista</a> >
      </h5>
    </div>
    <div class="quem-somos">
      <div class="container-quem-somos">
          <div class="row-quem-somos">
            <div class="text-quem-somos">
              <h1>
                Quem Somos
              </h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem cupiditate deleniti, ducimus iure ex pariatur animi? A, vero veniam, doloribus.
              </p>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum facere repudiandae nisi architecto, corporis.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque?
              </p>
            </div>
            <div class="ilustration">
              <img src="../assets/img/ilustration-1.png" alt="ilustração">
            </div>
          </div>
      </div>
    </div>
    <div id="fale-com-a-gente">
      <div class="container-fale-com-a-gente">
        <div class="row-fale-com-a-gente">
          <h1>
            Fale com a gente
          </h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nam assumenda velit at, eveniet rerum nemo molestiae earum enim reiciendis.
          </p>
        </div>
          <div class="form">
            <h5>Formulário de contato</h5>
            <form method="POST" action="">
              <div class="firstname-lastname">
                <div>
                  <label class="form-label">Nome*</label>
                  <input class="form-control" id="firstname" type="text">
                </div>
                <div>
                  <label class="form-label">Sobrenome</label>
                  <input class="form-control" id="lastname" type="text">
                </div>
              </div>
              <div class="email">
                <label class="form-label">E-mail*</label>
                <input class="form-control" id="email" type="email">
              </div>
              <div class="interest">
                <p class="form-label">Lorem ipsum dolor sit amet consectetur.*</p>
                <div class="interest-box">
                  <input type="radio" id="interest-0" name="area-de-interesse" value="tenho-um-negocio-que-nao-e-varejo" class="radio-button">
                  <label for="interest-0">Lorem ipsum dolor sit amet consectetur.</label><br>
                  <input type="radio" id="interest-1" name="area-de-interesse" value="para-a-minha-loja" class="radio-button">
                  <label for="interest-1">Lorem, ipsum dolor. </label><br>
                </div>
              </div>
                <label class="form-label">URL do site*</label>
                <input class="form-control" id="site" type="text">
                <input class="form-control btn-gen" id="submit" type="submit" value="Enviar">
            </form>
            <span class="form-text">
              Precisa de ajuda? <a href="https://sejalen.zendesk.com/hc/pt-br" target="_blank">Visite a central de ajuda ></a>
            </span>
          </div>
          
        </div>
      </div>
  </div>
</div>